@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }
body { margin: 10px; margin-top: 30px; font-size: 14px; text-align: center; padding: 20px;
font-family: 'NIXGONM-Vb',Arial,Verdana,sans-serif;
background-color: #FAF4C0;}

header { padding:10px 10px; font-size: 25px;}
nav { padding:10px;}
section { float: left; padding: 20px;  }
article { width: 300px; height:200px; float: left; border: 1px solid black; margin:5px;}
footer {clear: both;}
h1 {padding:5px;}
p {padding: 10px;}
ul {padding-left: 30px; text-align: left;}
#qt {border-radius:5px;
width:300px;
height:30px;}
#btn {border-radius:5px;
width:50px;
height:30px;}

#wrap {
width: 1100px;
margin: 0 auto;
}

#external-events {
float: left;
width: 150px;
padding: 0 10px;
text-align: left;
}

#external-events h4 {
font-size: 16px;
margin-top: 0;
padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
margin: 10px 0;
padding: 2px 4px;
background: #3366CC;
color: #fff;
font-size: .85em;
cursor: pointer;
}

#external-events p {
margin: 1.5em 0;
font-size: 11px;
color: #666;
}

#external-events p input {
margin: 0;
vertical-align: middle;
}

#calendar {
/* 		float: right; */
margin: 0 auto;
width: 900px;
background-color: #FFFFFF;
border-radius: 6px;
box-shadow: 0 1px 2px #C3C3C3;
}

footer {background-color: gray; padding: 0px;}
#copyright {background-color: black; font-color: white;}
